.container {
  max-width: 960px;
  margin: 60px auto;

  @media screen and (max-width: 1024px) {
    max-width: 100%;
    padding: 0 16px;
    margin: 32px auto;
  }
}

.container h1 {
  padding-bottom: 16px;
  margin-top: 0;
  margin-bottom: 48px;
  font-weight: 900;
  color: #222;
  border-bottom: 2px solid #318EDA;

  @media screen and (max-width: 820px) {
    margin-bottom: 24px;
    font-size: 20px;
  }
}

.container p {
  font-size: 16px;
  text-align: justify;
  line-height: 1.5;
  color: #333;

  @media screen and (max-width: 420px) {
    font-size: 14px;
  }
}

.fileList {
  padding: 0;
  margin-top: 48px;
  margin-bottom: 0;
}

.fileItem {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 2px solid #DEDEDE;
}

.fileItem:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.fileItemHeader {
  display: flex;
  align-items: flex-start;
}

.fileItemIcon {
  margin-top: 4px;
  font-size: 32px;
  color: #636466;
}

.fileItemContent {
  margin-left: 16px;
}

.fileItemDescription {
  margin-top: 0;
  margin-bottom: 12px;
}

